@import "tailwindcss";

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-Medium.ttf') format('truetype');
  font-weight: 500;
}

:root {
  font-family: Lexend, Arial, sans-serif;
  color: var(--color-gray-800);

  --foreground-rgb: 23, 23, 23;
  --foreground: rgb(var(--foreground-rgb));
  --foreground-10: rgba(var(--foreground-rgb), 0.1);

  --background-rgb: 255, 255, 255;
  --background: rgb(var(--background-rgb));
}