@import "tailwindcss";

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-Medium.ttf') format('truetype');
  font-weight: 500;
}

:root {
  font-family: Lexend, Arial, sans-serif;
  color: var(--color-gray-800);

  --foreground-rgb: 23, 23, 23;
  --foreground: rgb(var(--foreground-rgb));
  --foreground-15: rgba(var(--foreground-rgb), 0.15);
  --foreground-30: rgba(var(--foreground-rgb), 0.3);

  --background-rgb: 255, 255, 255;
  --background: rgb(var(--background-rgb));
  --background-90: rgba(var(--background-rgb), 0.9);
}

@keyframes ping-pong-scroll-ball {
  0% {
    transform: translateY(0);
  }
  5% {
    transform: translateY(0);
  }
  95% {
    transform: translateY(22px);
  }
  100% {
    transform: translateY(22px);
  }
}

.scroll-down-ball {
  animation: ping-pong-scroll-ball 2.2s cubic-bezier(0.65, 0, 0.35, 1) infinite alternate;
}
