@import "tailwindcss";

@theme {
  --breakpoint-xs: 32rem;
}

@font-face {
  font-family: "Lexend";
  src: url("/fonts/Lexend-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Lexend";
  src: url("/fonts/Lexend-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Lexend";
  src: url("/fonts/Lexend-Medium.ttf") format("truetype");
  font-weight: 500;
}

:root {
  font-family: Lexend, Arial, sans-serif;
  color: var(--color-gray-800);

  --color: var(--color-gray-800);

  --foreground-rgb: 23,23,23;
  --foreground: rgb(var(--foreground-rgb));
  --foreground-04: rgba(var(--foreground-rgb),0.04);
  --foreground-07: rgba(var(--foreground-rgb),0.07);
  --foreground-10: rgba(var(--foreground-rgb),0.1);
  --foreground-15: rgba(var(--foreground-rgb),0.15);
  --foreground-25: rgba(var(--foreground-rgb),0.25);
  --foreground-30: rgba(var(--foreground-rgb),0.3);
  --foreground-40: rgba(var(--foreground-rgb),0.4);
  --foreground-04-non-transparent: #F6F6F6;
  --foreground-15-non-transparent: #D4D4D4;

  --background-rgb: 255,255,255;
  --background: rgb(var(--background-rgb));
  --background-90: rgba(var(--background-rgb),0.9);
}

[data-theme="dark"] {
  --foreground-rgb: 255,255,255;
  --background-rgb: 11,12,16;
  color: #fff;
  --color: #fff;

  --foreground-04-non-transparent: #151619;
  --foreground-15-non-transparent: #38393b;
}

html, body {
  overflow-x: hidden;
}

@keyframes ping-pong-scroll-ball {
0% {
  transform: translateY(0);
}
5% {
  transform: translateY(0);
}
95% {
  transform: translateY(22px);
}
100% {
  transform: translateY(22px);
}
}

.scroll-down-ball {
  animation: ping-pong-scroll-ball 2.2s cubic-bezier(0.65, 0, 0.35, 1) infinite
    alternate;
}

.triangle-wrapper {
  position: relative;
  width: 100%;
  height: 84px;
}

.triangle-background {
  position: absolute;
  inset: 0;
  background-color: var(--foreground-04-non-transparent);
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  z-index: 1;
}

.triangle-border {
  position: absolute;
  inset: 0;
  background-color: var(--foreground-15-non-transparent);
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  transform: scale(1.02);
  z-index: 0;
}

.triangle-background-reverse {
  position: absolute;
  inset: 0;
  background-color: var(--foreground-04-non-transparent);
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  z-index: 1;
}

.triangle-border-reverse {
  position: absolute;
  inset: 0;
  background-color: var(--foreground-15-non-transparent);
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  transform: scale(1.02);
  z-index: 0;
}

@media only screen and (max-width: 768px) {
  .triangle-wrapper {
    height: 24px;
  }
}
