.carouselWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carouselContainer {
  position: relative;
  width: 100%;
  margin: 0 auto;
  /* border-radius: 2rem; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.slideWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 2rem;
  height: calc(100vh - 258px);
  min-height: 280px;
  padding-left: 4rem;
  position: relative;
  overflow: hidden;
}

.overlayGroup {
  flex: 1;
  color: var(--color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
  z-index: 2;
  position: relative;
}

.heading {
  font-size: 2.5rem;
  font-weight: bold;
}

.text {
  font-size: 1.2rem;
  font-weight: normal;
}

.imageContainer {
  flex: 1;
  position: relative;
  height: 90%;
  max-width: 50%;
}

.image {
  object-fit: contain;
  z-index: 1;
  max-width: 80%;
  margin: 0 auto;
}

.indicators {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dot,
.selectedDot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--foreground-15);
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.dot:hover,
.selectedDot {
  background-color: var(--color);
}

@media (max-width: 768px) {
  .slideWrapper {
    flex-direction: column;
    text-align: center;
    padding: 2rem 1rem;
  }

  .overlayGroup {
    padding: 1rem 0;
  }

  .imageContainer {
    max-width: 100%;
    height: 250px;
    margin-top: 1rem;
  }
}
