.container {
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  gap: 1rem;
}

.container.left .track {
  animation: scrollLeft 128s linear infinite;
}

.container.right .track {
  animation: scrollRight 128s linear infinite;
}

.track {
  display: inline-block;
  white-space: nowrap;
}

.text {
  display: inline-block;
  margin-right: 2rem;
  font-size: 1.5rem;
  color: var(--foreground);
  text-transform: uppercase;
  font-weight: semi-bold;
  display: inline-block;
  line-height: 3rem;
}

.gradientLeft,
.gradientRight {
  position: absolute;
  top: 0;
  width: 4rem;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

.gradientLeft {
  left: 0;
  background: linear-gradient(to right, rgb(var(--background-rgb)), transparent);
}

.gradientRight {
  right: 0;
  background: linear-gradient(to left, rgb(var(--background-rgb)), transparent);
}

@keyframes scrollLeft {
0% {
  transform: translateX(0%);
}
100% {
  transform: translateX(-50%);
}
}

@keyframes scrollRight {
0% {
  transform: translateX(-50%);
}
100% {
  transform: translateX(0%);
}
}
